h1{
	color:red;
	background-color: green;
	border: 1px solid yellow;
	font-size: 50px;
}
.title {
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    height: 150px;           /* adjust as needed */
}