p{
	font-size: 20px;
	font-family: verdana;
	background-color: antiquewhite;
	border: 2px solid seagreen;
}
div{
	font-size: 10px;
	font-family: verdana;
	background-color: antiquewhite;
	border:2px solid seagreen;
}